.sign-header
  =link_to root_path,target: "_self" do
    = image_tag 'pc.png'
    Put:Memo
.sign-main
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .sign-no_account
      %p アカウントをお持ちでない方はこちら
      = link_to '新規会員登録', signup_path,class:"index-loGin"
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.button "ログイン"
.sign-footer