.sign-header
  =link_to root_path,target: "_self" do
    = image_tag 'pc.png'
    Put:Memo
.sign-main
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ニックネーム
      %br/
      = f.text_field :name, autofocus: true
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上の半角英数字)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :パスワード_（確認）
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.button "登録する"
.sign-footr